@import url('https://fonts.googleapis.com/css?family=Muli:700|Poppins:700');

html {
	scroll-behavior: smooth;
}

body {
	color: #353535;
	margin: 0;
	padding: 0;
}

#nav {
	position: fixed;
	width: 100%;
	transition: top 0.5s;
}

ul {
	text-align: center;
	padding: 5% 0 5% 0;
	background-color: #f9f9f9;
	margin: 0 0 5% 0;
}

li {
	display: inline-block;
	margin: 3%;
}

#ik {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-top: 30%;
}

.fotos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h1, h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
	padding: 0 10% 0 10%;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 3.5vw;
	padding: 0 10% 0 10%;
}

h1,h2, h3 {
	font-size: 6vw;
}

h1, h2, #about p, #topics p, #workshops p, #excursie p, #labweken p {
	text-align: center;
}

h4 {
	font-size: 5vw;
	margin: 7.5% 0 0 0;
}

#topics {
	background-color: #6464ff;
}

#workshops {
	background-color: #4ec695;
}

#excursie {
	background-color: #ffbe5f;
}

#labweken {
	background-color: #ff5a5f;
}

#topics, #workshops, #excursie, #labweken {
	color: white;
	border-radius: 8px;
	margin: 20% 10% 0 10%;
	padding: 1% 0 2% 0;
	box-shadow: 0 10px 20px grey;
}

#topic-elements h3 {
	color: #6464ff;
	margin: 10% 0 0 0;
}

#workshop-elements h3 {
	color: #4ec695;
	margin: 10% 0 0 0;
}

#excursie-elements h3 {
	color: #ffbe5f;
	margin: 10% 0 0 0;
}

#labweken-elements h3 {
	color: #ff5a5f;
	margin: 10% 0 0 0;
}

a {
	text-decoration: none;
	color: #353535;
	transition: color 0.3s ease;
	font-family: 'Poppins', sans-serif;
	font-size: 3.5vw;
}

#tp:active {
	color: #6464ff;
}

#ws:active {
	color: #4ec695;
}

#xc:active {
	color: #ffbe5f;
}

#lw:active {
	color: #ff5a5f;
}

@media only screen and (min-width: 600px) {
	h1, h2, h3 {font-size: 4vw;}
	h4 {font-size: 3vw;}
	p {font-size: 2.5vw;}
	#ik {width: 30%;}
	.fotos {width: 40%;}
	a {font-size: 2.5vw;}
}

@media only screen and (min-width: 960px) {
	h1, h2, h3 {font-size: 2vw;}
	h4 {font-size: 1.5vw; margin: 3% 0 0 0;}
	h1, h2, h3, h4 {padding: 0 20% 0 20%;}
	#topic-elements h3, #workshop-elements h3, #excursie-elements h3, #labweken-elements h3 {margin: 5% 0 0 0;}
	p {font-size: 1vw; padding: 0 20% 0 20%;}
	#ik {width: 20%; padding-top: 15%;}
	.fotos {width: 30%;}
	a {font-size: 1vw;}
	#tp:hover {color: #6464ff;}
	#ws:hover {color: #4ec695;}
	#xc:hover {color: #ffbe5f;}
	#lw:hover {color: #ff5a5f;}
	ul {padding: 0;}
	#topics, #workshops, #excursie, #labweken {margin: 10% 20% 0 20%;}
}





